### Dictionary
**Dictionary is a numerically ordered that can store key value pairs. Keys in dictionary must be immutable and value may be mutable**

In [3]:
# Dictionary is create using Curly braces.
D={};
print(type(D),D)

D={"a":1,'b':"two"}
print(type(D),D)

<class 'dict'> {}
<class 'dict'> {'a': 1, 'b': 'two'}

In [11]:
# Key must be imutable
D={"a":1,['b']:"two"}
print(type(D),D)

TypeError: unhashable type: 'list'

In [14]:
# Key may be mutable or immutable
D={"a":1,'b':[2,3]}
print(type(D),D)

<class 'dict'> {'a': 1, 'b': [2, 3]}

In [13]:
# Key does not allow duplicates
D={"a":1,'b':"two",'b':3}
print(type(D),D)

<class 'dict'> {'a': 1, 'b': 3}

### Proof of Concepts

In [34]:
D=[1,2,3]
D1=[1,2,3]
print(id(D),id(D1),D is D1,D == D1)

2739154248768 2739154507584 False True

### Dictionary contain Heterogenous elements

In [4]:
# Dictionary contain elements of different data types
D={"a":1,'b':"two","c":3.5}
print(type(D),D)

<class 'dict'> {'a': 1, 'b': 'two', 'c': 3.5}

### Dictionary is Mutable mean it can be changed

In [10]:
# Dictionary elements can be changed by specify the key whose value need to be changed 
D={"a":1,'b':"two"}
D['b']="three"
print(D)

{'a': 1, 'b': 'three'}

### Dictionary Can be Nested to an arbitary length

In [16]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
print(D)

{'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}}

### Asscessing elements in the Dictionary
- `[key]` using it with dictionary name you can access value of that particuar key
- `get(key)`  using get with dictionary name you can access value of that particuar key

In [21]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
print(D['b'])

two

In [26]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
print(D.get('c').get('name'))

ali

### Retreiving key values from dictionary
- `dict.items()` return all key value pair of a dictionary

In [27]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D.items()

dict_items([('a', 1), ('b', 'two'), ('c', {'name': 'ali', 'city': 'lahore'})])

### Retreiving keys from dictionary
- `dict.keys()` return all keys of a dictionary

In [31]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D.keys()

dict_keys(['a', 'b', 'c'])

### Retreiving values from dictionary
- `dict.values()` return all values of a dictionary

In [32]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D.values()

dict_values([1, 'two', {'name': 'ali', 'city': 'lahore'}])

### Modify elements in Dictionary
- `dict[key]=value` update the value of key in this way. if the key not exist it form the new key.
- `dict.update({key:value})` update the value of key in this way. if the key not exist it form the new key.

In [86]:
D=[1,2,3,4,5]
D.append("six")
D

[1, 2, 3, 4, 5, 'six']

In [87]:
D=[1,2,3,4,5]
D.append("six","seven")
D

TypeError: list.append() takes exactly one argument (2 given)

In [85]:
D=[1,2,3,4,5]
D.extend("6")
print(D)
D.extend(["seven","eight"])
print(D)

[1, 2, 3, 4, 5, '6']
[1, 2, 3, 4, 5, '6', 'seven', 'eight']

In [34]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D['a']="one"
print(D)

{'a': 'one', 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}}

In [35]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D['e']="create it if not exist"
print(D)

{'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}, 'e': 'create it if not exist'}

In [38]:
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D.update({'e':"last"})
print(D)

{'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}, 'e': 'last'}

### Merging two dictionaries 
- `d1.update(d2)` update is used to merge two dictionaries

In [40]:
D1={"a":1,'b':"two"}
D2={'name':'ali',"city":'lahore'}
D1.update(D2)
print(D1)

{'a': 1, 'b': 'two', 'name': 'ali', 'city': 'lahore'}

### Removing element from the Dictionary
>- `Dict.pop(key)` remove the key value pair from  the Dictionary and return the value of the key.
>- `Dict.popitem()` remove the key value pair from the end of the Dictionary and return the key value as two tuple.
>- `del Dict[key]` remove the key value pair from the Dictionary and return none.
>- `Dict.clear()` remove all key value pair.
>- `del Dict` delete the dictionary.

In [41]:
D2={'name':'ali',"city":'lahore'}
print(D2.pop('name'))
print(D2)

ali
{'city': 'lahore'}

In [42]:
D2={'name':'ali',"city":'lahore'}
print(D2.popitem())
print(D2)

('city', 'lahore')
{'name': 'ali'}

In [45]:
D2={'name':'ali',"city":'lahore'}
del D2['name']
print(D2)

{'city': 'lahore'}

In [46]:
D2={'name':'ali',"city":'lahore'}
del D2
print(D2)

NameError: name 'D2' is not defined

In [51]:
D2={'name':'ali',"city":'lahore'}
D2.clear()
print(D2)

{}

### Type Casting of Dictionary

In [57]:
D2={'name':'ali',"city":'lahore'}
print(D2.items()) return two tuple value

dict_items([('name', 'ali'), ('city', 'lahore')])

In [61]:
D2={'name':'ali',"city":'lahore'}
print(tuple(D2.keys()))
print(list(D2.values()))

('name', 'city')
['ali', 'lahore']

### Shallow Copy
Copy the new Dictionary object.
>- For copy the Dictionary  import copy module
**Limitation**: Shallow copy cannot copy the nested object. It only copy the reference of the nested object.

In [63]:
import copy
D1={'name':'ali',"city":'lahore'}
D2=copy.copy(D1);
print(id(D),id(D2),D1,D2)

2046117827136 2046117871488 {'name': 'ali', 'city': 'lahore'} {'name': 'ali', 'city': 'lahore'}

In [64]:
D2['city']="Islamabad"
print("OriginaD Dictionary",D1,"ShaDDow Copy of Dictionary",D2, sep="\n")

OriginaD Dictionary
{'name': 'ali', 'city': 'lahore'}
ShaDDow Copy of Dictionary
{'name': 'ali', 'city': 'Islamabad'}

In [75]:
import copy
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D2=copy.copy(D);
print(id(D),id(D2),D,D2)

2046118672512 2046117023232 {'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}} {'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}}

In [76]:
D2['c']['name']="Umer" # nested Dictionary change reflect in both the original Dictionary and shallow copy
print("Original Dictionary",D,"Shallow Copy of Dictionary",D2, sep="\n")

OriginaD Dictionary
{'a': 1, 'b': 'two', 'c': {'name': 'Umer', 'city': 'lahore'}}
ShaDDow Copy of Dictionary
{'a': 1, 'b': 'two', 'c': {'name': 'Umer', 'city': 'lahore'}}

### Deep Copy
Create the new object and recursively create the copy of the original object and nested object 
>- For copy the Dictionary  import copy module

In [79]:
import copy
D={"a":1,'b':"two",'c':{'name':'ali',"city":'lahore'}}
D2=copy.deepcopy(D);
print(id(D),id(D2),D,D2)

2046117865600 2046117044480 {'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}} {'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}}

In [80]:
D2['c']['name']="Umer" 
print("Original Dictionary",D,"Shallow Copy of Dictionary",D2, sep="\n")

Original Dictionary
{'a': 1, 'b': 'two', 'c': {'name': 'ali', 'city': 'lahore'}}
Shallow Copy of Dictionary
{'a': 1, 'b': 'two', 'c': {'name': 'Umer', 'city': 'lahore'}}

### Sorting a Dictionary
There is one method to sort a Dictionary
>- `sorted()` It sort the Dictionary, not modify the originalDictionary and return the sorted version.

In [105]:
D1={'name':'ali',"city":'lahore'}
D2=sorted(D1)
print(D2)

['city', 'name']

In [106]:
D1={'name':'ali',"city":'lahore'}
D2=sorted(D1)
print(D2)

['city', 'name']

In [107]:
D1={"ali":"10","umar":"20","akram":"1"}
D2=sorted(D1.values())
print(D2)

['1', '10', '20']

In [108]:
D1={"ali":"10","umar":"20","akram":"1"}
D2=sorted(D1.keys())
print(D2)

['akram', 'ali', 'umar']

### Custom Sorting
You can customize the sort according to uour requirements by passing the user defined function to the key.
There is 3 arguments in sort() method: `sort(Dictionary, key=None, reverse=False)`

In [109]:
D1={"ali":"10","umar":"20","akram":"1"}
def function(item):
    return item[2]
D2=sorted(D1,key=function)
print(D2)

['umar', 'ali', 'akram']

In [110]:
D1={"ali":"10","mushtaq":"20","akram":"1"}
D2=sorted(D1.keys(),key=len ,reverse=False)
print(D2)

['ali', 'akram', 'mushtaq']

In [116]:
# JSON Array containing Objects
students = [
         {"name": "Hashim", "age": 18, "grade": "B"},
         {"name": "Salman", "age": 11, "grade": "A"},
         {"name": "Mazhar", "age": 12, "grade": "C"},
         {"name": "Farhan", "age": 22, "grade": "D"},
         {"name": "Bilal", "age": 19, "grade": "A"},
         {"name": "Zalaid", "age": 17, "grade": "B"}
        ]
def func2(item):
     return item.get('age')
D2=sorted(students,key=func2)
print(D2)

[{'name': 'Salman', 'age': 11, 'grade': 'A'}, {'name': 'Mazhar', 'age': 12, 'grade': 'C'}, {'name': 'Zalaid', 'age': 17, 'grade': 'B'}, {'name': 'Hashim', 'age': 18, 'grade': 'B'}, {'name': 'Bilal', 'age': 19, 'grade': 'A'}, {'name': 'Farhan', 'age': 22, 'grade': 'D'}]

In [210]:
D=[1,2,3,4,5,6]
print('Minimum element',min(D))
print('Maximum element',max(D))
print('Sum of elements',sum(D))
print('Dength of Dictionary',Den(D))

Minimum Element 1
Maximum Element 6
Sum of Elements 21
Length of List 6