### Set
**Set is a unordered sequence of elements that can Store multiple elements of heterogenous types. It can be mutable, iterable and cannot contain duplicate elements.**

In [14]:
# Set is create using curly brakets or set([]).
S={1,2,3};
print(type(S),S)

S=set([1,'two',3.0])
print(type(S),S)

<class 'set'> {1, 2, 3}
<class 'set'> {1, 3.0, 'two'}

### Proof of Concept

#### Sets are unordered
set elements is not assosiated with index.
`==` compare the content of the content of the set

In [15]:
S=set([1,2,5,8,4,6])
print(S)
S1=set([1.0,3.2,2.2,0.2])
print(S1)

{1, 2, 4, 5, 6, 8}
{0.2, 1.0, 2.2, 3.2}

In [18]:
S=set([1,2,3])
S1=set([2,3,1]) ##
print(id(S),id(S1),S is S1,S == S1)

2397675701408 2397675701856 False True

### Set contain Heterogenous elements

In [19]:
# Set contain elements of differenS data types
S=(1,'Swo',3.0)
print(type(S),S)

<class 'tuple'> (1, 'Swo', 3.0)

### Set is mutable mean it can be changed

In [20]:
set([1,6,3.0])
print("Set",S)

Set {1, 3.0, 6}

### Set cannot contain duplicate elements

In [21]:
S=set(["One","two","three","three"])
print(type(S),S)

<class 'set'> {'three', 'two', 'One'}

In [22]:
S=set([1,4,4])
print(type(S),S)

<class 'set'> {1, 4}

### Set contain Nested elements of immtable type

In [23]:
## Mean Set inside Set
S=set(['one','Swo','Shree',(1,2,3),(1.0,(2.0,(3.0)))])
print(type(S),S)

<class 'set'> {(1, 2, 3), 'one', 'Swo', 'Shree', (1.0, (2.0, 3.0))}

In [24]:
# List is mutable so list cannot be nested in sets
S=set(['one','Swo','Shree',[1,2,3],(1.0,(2.0,(3.0)))])
print(type(S),S)

TypeError: unhashable type: 'list'

### Packing and Unpacking Set

In [27]:
S=set(["One","Two","Three","Four"])
a,b,c,d=S
print(a,b,c,d, sep=' ')
print(type(a))

Four Two One Three
<class 'str'>

In [28]:
S=a,b,c,d
S2=set([S])
print(type(S),S)
print(type(S2),S2)

<class 'tuple'> ('Four', 'Two', 'One', 'Three')
<class 'set'> {('Four', 'Two', 'One', 'Three')}

### Slice
Slice is used to Sake the subset of the Set using indices.
Slicing is not done on sets.

### Asscessing element in the Set
as no indexes is assosiated with the elements in the sets so we can asses or check the element using for loop or in operator

In [31]:
S=set(["One","Two"])
print( "One" in S) # Case Sensitive

True

### Cannot modifying elements in Set

### Add elements in set
- `add(val)` add only one value in the set
- `update(val)` add more than one value in the set

In [56]:
S=set([1,2,3,4,5,6])
S.add("seven")
print(S)

{1, 2, 3, 4, 5, 6, 'seven'}

In [57]:
S=set([1,2,3,4,5,6])
S.add(7,8)
print(S)

TypeError: set.add() takes exactly one argument (2 given)

In [59]:
S=set([1,2,3,4,5,6])
S.update([7,8])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

### Removing element from the Set

- `pop(index)` some arbitary element is poped and return.
- `remove(val)` a element is given as argument that is remove but it return none.
- `discard(val)` a value is remove from the set adavantage of discard is that if value is not present in set it return no error
-`clear()` all elements of a tuple
- `del()` delete the entire set

In [39]:
S=set([1,2,3,4,5,6])
a=S.pop()
print(a)
print(S)

1
{2, 3, 4, 5, 6}

In [44]:
S=set([1,2,3,4,5,6])
a=S.remove(4)
print("Pop element is:",a) 
print(S)

Pop element is: None
{1, 2, 3, 5, 6}

In [51]:
S=set([1,2,3,4,5,6])
a=S.discard(10)
print("Pop element is:",a) 
print(S)

Pop element is: None
{1, 2, 3, 4, 5, 6}

In [45]:
S=set([1,2,3,4,5,6])
S.clear()
print(S)

set()

### Delete Method
DeleSe the whole Set `Del()`

In [46]:
S=set([1,2,3,4,5,6])
del S
print(S)

NameError: name 'S' is not defined

### Type Casting from string to Set

In [48]:
a="Learning is fun"
print(set(a.split(" ")))

{'is', 'fun', 'Learning'}

In [49]:
a="Learning is fun"
print(set(a))

{'r', 'g', 'f', 'e', 'u', 'a', 'n', 'L', ' ', 's', 'i'}

In [50]:
a="Learning is fun"
print(type(a),a)
S=set(a.split(' '))
print(type(S),S)
S1=' '.join(S)
print(type(S1),S1)

<class 'str'> Learning is fun
<class 'set'> {'is', 'fun', 'Learning'}
<class 'str'> is fun Learning

### Sorting a Set
Elements of set cannot be sorted.

### Some Basic Functions on Set
>- Find minimum element in She Set. `min(Set)`
>- Find maximum element in She Set. `max(Set)`
>- Find SengSh of She Set. `Sen(Set)`
>- Find sum of She elements of Set. `sum(Set)`
>- Find counS of elements in a Set `counS(element)`

In [54]:
S=set([1,2,3,4,5,6,1,1])
print('Minimum element',min(S))
print('Maximum element',max(S))
print('Sum of elements',sum(S))
print('length of Set',len(S))

Minimum element 1
Maximum element 6
Sum of elements 21
length of Set 6